<!doctype html>


<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="WishFund,business,company,agency,multipurpose,modern,bootstrap4">
  
  <meta name="author" content="Accessa">

  <title>Connect to NGOs - Hearing Disability</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/static/plugins/bulma/bulma.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/static/plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="/static/plugins/icofont/icofont.css">
  <link rel="stylesheet" href="/static/plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="/static/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/static/plugins/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="/static/plugins/modal-video/modal-video.min.css">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/static/css/style.css">


</head>

<body>

<!-- Header Start --> 
<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="columns is-gapless is-justify-content-space-between is-align-items-center">
				<div class="column is-6-desktop is-4-tablet has-text-left-desktop has-text-centered-mobile">
					<div class="header-top-info">
						<a href="tel:+91-9323960543"><i class="icofont-phone mr-2"></i><span>9323960543</span></a>
						<a href="mailto:sransh86@gmail.com" ><i class="icofont-email mr-2"></i><span>accessa@gmail.com</span></a>
					</div>
				</div>
				<div class="column is-6-desktop is-8-tablet">
					<div class="header-top-right has-text-right-tablet has-text-centered-mobile">
						<a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a>
						<a href="https://twitter.com/" target="_blank"><i class="icofont-twitter"></i></a>
						<a href="https://github.com/" target="_blank"><i class="icofont-github"></i></a>
						<a href="#" target="_blank"><i class="icofont-pinterest"></i></a>
						<a href="#" target="_blank"><i class="icofont-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav id="navbar" class="navbar main-nav">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/home">
					<img src="static/images/logo.png" alt="logo">
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>

			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end">					 
					<li class="navbar-item">
						<a class="navbar-link" href="/home">Home</a>
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="/ISL">ISL To Text</a>
					</li>

					<li class="navbar-item">
						<a class="navbar-link" href="/TextToSpeech">Text to Speech</a>
					</li>
					
					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Connect to NGOs<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="/NGO">Visual Disablity</a>
							<a class="navbar-item" href="/Hearing">Hearing Disablity</a>
							<a class="navbar-item" href="/Speaking">Speaking Disablity</a>
						</div>
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="/contacts">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- Header Close -->
<section class="page-title bg-1">
   <div class="container">
      <div class="columns">
         <div class="column is-12">
            <div class="block has-text-centered">
               <span class="text-white"></span>
               <h1 class="is-capitalize text-lg">Connect to NGOs</h1>
            </div>
         </div>
      </div>
   </div>
</section>

<h2 style="text-align: center; margin-top: 50px; margin-bottom: -50px;">NGOS empowing Hearing Disablities</h2>

<section class="section blog-wrap">
    <div class="container">
        <div class="columns is-multiline">

		<div class="column is-4-desktop is-6-tablet">
		<div class="blog-item-content mb-4">
			<img src="/static/images/blog/Muskaan - v.png" alt="" class="w-100">
			<div class="blog-item-content-content mt-3">
				<h3 class="mb-3"><a href="https://muskanfoundation.org.in/">Muskan Foundation</a></h3><br>
				<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span></span>  
				<p class="mb-5">Address:15 Prashanti, Kala Nagar, Bandra East, Mumbai, Maharashtra 400051<br>
				<br>Contact Details: <br> Phone:099301 81609 </p>
				<a href="tel: +91 99301 81609" class="btn btn-small btn-main is-rounded">Call now</a>
			</div>
		</div>
	</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/sounds -s.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://soundsofsilence.in/">Sounds of Silence</a></h3><br>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: No address provided<br><br><br>
						Contact Details: <br> Phone: Not provided</p>
						<a href="tel:" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/sparsh -s.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://www.sahayogini.org/">Sahayogini Palak Sanstha Navi Mumbai</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: Citilight Chs, Shop No.4,5,7,14&15, Plot No.25, Sector -1, Kopar Khairane, Navi Mumbai, Maharashtra 400709<br>
						Contact Details: <br> Phone:99879 20642 </p>
						<a href="tel: +91 99879 20642" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/NAOED - H.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://www.nade-india.org/">The National Association Of Disabled Enterprices</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: Kannamwar Nagar Municipal Marathi School No. 1 Ground Floor, Kannamwar Nagar I, Vikhroli, Mumbai, Maharashtra 400083<br>
						Contact Details: <br> Phone:022 2577 9600 </p>
						<a href="tel: +91 022 2577 9600" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/ever-will - h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="#">Ever Willing Foundation Office</a></h3><br>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: Shop no. GB 20, Ground Floor, High Street cum Highland Corporate Center, Kapurbawdi, Thane West, Thane, Maharashtra 400607<br>
						Contact Details: <br> Phone: 022 4924 9543 </p>
						<a href="tel: +91 022 4924 9543" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/cehebral - h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="http://cpai.org.in/">Cerebral Palsy Association of India</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: Windsor BMC Library Building, Windsor Lane, CST Road, Kalina, Santacruz (E, Mumbai, Maharashtra 400098<br>
						<br>Contact Details: <br> Phone:093230 54663</p>
						<a href="tel: +91 93230 54663" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/hearfone - h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://www.hearfon.com/">HearFon - Hearing Aids & Speech Therapy Clinic</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: Bhoomi Castle, 1st Floor, Suburban Diagnostic Centre 102, New Link Rd, Opp. Georegaon sports club, Malad West, Mumbai, Maharashtra 400064<br>
						Contact Details: <br> Phone:099455 72222</p>
						<a href="tel:+91 99455 72222" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/real voice - h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="#">Real Voice Hearing Solutions/Homeopathic Clinic</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: Shop no.9, Horizon Home, Liberty Garden Cross Rd Number 2, near ICICI Bank, Malad West, Mumbai, Maharashtra 400064<br>
						<br>Contact Details: <br> Phone:093211 27363 </p>
						<a href="tel: +91 93211 27363" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/centralsoc-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="http://www.csedmumbai.org/">The Central Society for the Education of the deaf</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: S. Umarbhoy Path, 3rd Floor, Municipal School Building, Farukh Oomerbhoy Marg, Mumbai, Maharashtra 400011<br>
						Contact Details: <br> Phone:022 2308 7798</p>
						<a href="tel: +91 022 2308 7798" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/savethe-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://www.savethechildrenindia.org/">Save The Children India</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: SF9, G Block, adjacent to American School of Bombay, Bandra Kurla Complex, Bandra East, Mumbai, Maharashtra 400098<br>
						Contact Details: <br> Phone:022 2652 0601 </p>
						<a href="tel: +91  022 2652 0601" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/ali-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://ayjnihh.nic.in/">Ali Yavar Jung National Institute </a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: 12, KC Marg, Rajiv Gandhi Nagar, Santosh Nagar, Bandra West, Mumbai, Maharashtra 400050<br>
						Contact Details: <br> Phone:022 2640 0215</p>
						<a href="tel: +91 022 2640 0215" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/savethe-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://earguru.in/">EarGuru</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: D 703 Mandar Apts, Fisheries University Rd, Andheri (W), Mumbai, Maharashtra 400061<br>
						Contact Details: <br> Phone:093238 01318</p>
						<a href="tel: +91 093238 01318" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/cochea-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://cochleapune.org/index.php">Cochlea Pune for Hearing & Speech</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: 161-A, Shivsagar Society, Modi Baug, Ganesh Khind Road, Shivajinagar, Pune, Maharashtra 411016<br><br>
						Contact Details: <br> Phone: 022 2551 9099 </p>
						<a href="tel: +91  022 2551 9099" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/umeed-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="http://ummeed.org/">Ummeed Child Development Center</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address:1-B,1/62, Mantri Pride Building, N.M.Joshi Marg, Junction, Subash Nagar, near Arthur Road, Lower Parel East, Mumbai, Maharashtra 400011<br>
						Contact Details: <br> Phone:022 6248 8100</p>
						<a href="tel: +91 022 6248 8100" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/unltd-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="http://www.unltdindia.org/">UnLtd India</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: 1st Floor, HDIL Kaledonia, Sahar Rd, A-Wing, Andheri East, Mumbai, Maharashtra 400069<br><br><br>
						Contact Details: <br> Phone:022 2637 1978</p>
						<a href="tel: +91 022 2637 1978" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/tara-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="https://www.tarafoundation.in/">Tara Foundation</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: BRC Bhavan, behind Civil Hospital Campus, Sector 12B, Gandhinagar, Gujarat 382012<br>
						Contact Details: <br> Phone:083200 57476 </p>
						<a href="tel: +91 083200 57476" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/sandeep-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="#">Sandeep Deaf</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address:  Dattwadi, Shobhapur, Kasba Peth, Pune, Maharashtra 411011<br>
						Contact Details: <br> Phone:083790 01445 </p>
						<a href="tel: +91 083790 01445" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/sant-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="http://ghar-home.in/">Ghar - Sant Ishwar Foundation</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: Plot No. 30, 179, Deccan College Rd, opposite Dashmesh Gurudwara, Jai Jawan Nagar, Ranjeet Nagar, Yerawada, Pune, Maharashtra 411006<br>
						Contact Details: <br> Phone:093724 68457 </p>
						<a href="tel: +91 093724 68457" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="blog-item-content mb-4">
					<img src="/static/images/blog/akshay-h.png" alt="" class="w-100">
					<div class="blog-item-content-content mt-3">
						<h3 class="mb-3"><a href="http://www.ashrayakruti.org/">Ashray Akruti</a></h3>
						<span class="text-sm text-color is-uppercase has-text-weight-bold"> Google Rating: <span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></span>  
						<p class="mb-5">Address: 8-3-1028/2, Lane, Srinagar Colony Main Rd, opp. Indian Bank, Hyderabad, Telangana 500073<br>
						Contact Details: <br> Phone:040 4004 2250 </p>
						<a href="tel: +91 040 4004 2250" class="btn btn-small btn-main is-rounded">Call now</a>
					</div>
				</div>
			</div>
																																								
</div>

        <div class="columns mt-5">
            <div class="column is-12">
            	<nav class="pagination is-justify-content-center">
                    <div class="nav-links">
                        <a class="page-numbers current" href="/NGO">1</a>
                        <a class="page-numbers" href="/Hearing">2</a>
                        <a class="page-numbers" href="/Speaking">3</a>
                        <a class="page-numbers" href="#"><i class="icofont-long-arrow-right"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-4-desktop is-6-tablet">
				<div class="footer-widget widget">
					<h4 class="is-capitalize mb-4 text-white">Accessa</h4>
					<p>Sector 7, Phase I, Pad. Dr. D. Y. Patil Vidyapeeth, Nerul, Navi Mumbai <br> Maharashtra 400706</p>

					<ul class="list-unstyled footer-menu mt-4">
						<li><a href="#"><i class="icofont-phone"></i>+91 9323-960-543</a></li>
						<li><a href="#"><i class="icofont-email"></i>accessa@support.com</a></li>
					</ul>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="column is-2-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h4 class="is-capitalize mb-4 text-white">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="/home">Home</a></li>
						<li><a href="/ISL">ISL To Text</a></li>
						<li><a href="/TextToSpeech">Text to Speech</a></li>
						<li><a href="/NGO">NGO's</a></li>
						<li><a href="/contacts">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="footer-widget widget">
					<h4 class="is-capitalize mb-4 text-white">Subscribe Us</h4>
					<p class="mb-4">Subscribe to get latest news article and resources  </p>

					<form action="#" class="sub-form">
						<input type="text" class="input mb-4 text-white" placeholder="Subscribe Now ...">
						<a href="#" class="btn btn-main btn-small is-rounded">subscribe</a>
					</form>
				</div>
			</div>
			
			<div class="column is-3-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h4 class="is-capitalize mb-4 text-white">Gallery</h4>

					<div class="gallery-wrap">
						<div class="gallery-img">
							<img src="/static/images/blog/gallery-1.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="/static/images/blog/gallery-2.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="/static/images/blog/gallery-3.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="/static/images/blog/gallery-6.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="/static/images/blog/gallery-1.jpg" alt="" class="">
						</div>
						<div class="gallery-img">
							<img src="/static/images/blog/gallery-2.jpg" alt="" class="">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <div class="footer-btm py-5">
			<div class="columns is-justify-content-center">
				<div class="column is-12">
					<div class="copyright has-text-centered">
						<small>&copy; Copyright Reserved to WishFund by <a href="https://themefisher.com/" target="_blank" class="text-color">Themefisher</a></small>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</footer>



    <!-- 
    Essential Scripts
    =====================================-->

    
   <!-- Main jQuery -->
   <script src="/static/plugins/jquery/jquery.js"></script>
   <script src="/static/js/contact.js"></script>
  <!--  Magnific Popup-->
   <script src="/static/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
   <!-- Slick Slider -->
   <script src="/static/plugins/slick-carousel/slick/slick.min.js"></script>
   <!-- Counterup -->
   <script src="/static/plugins/counterup/jquery.waypoints.min.js"></script>
   <script src="/static/plugins/counterup/jquery.counterup.min.js"></script>

   <script src="/static/plugins/modal-video/jquery-modal-video.min.js"></script>

   <!-- Google Map -->
   <script src="/static/plugins/google-map/map.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
   
   <script src="/static/js/script.js"></script>
  </body>
  </html>